.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 25px;
  clear: both;
}


body {
 	/* width: 75%; */
  background-color: #fff;
  margin: auto;
 }

.header {
  text-align: center;
}

#burger {
  display: block;
  margin: auto;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
